@import "base/variables"
@import "base/mixins"
@import "blocks/promo"
@import "blocks/header"
@import "blocks/button"
@import "blocks/advantages"
    
*
    font-family: 'MuseoModerno', sans-serif

.container
    max-width: 950px
    margin: 0 auto